<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.caleb.beecontrol">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="GoogleAppIndexingWarning">
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".SupportMessagesActivity"></activity>
        <activity android:name=".SupportActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".AssistanceActivity" />
        <activity android:name=".NewassistanceActivity" />
        <activity android:name=".EmployeesActivity" />
        <activity android:name=".EditprofileActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".TripActivity" />
        <activity android:name=".TripspecActivity"/>
        <activity android:name=".NewpasswordActivity" />
        <activity android:name=".ForgotmypasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="Control"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".NewtripActivity"
            android:label="@string/title_activity_assistance"
            android:theme="@style/NoActionBar"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>